[Unit]
Description=Object Detection Agent
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/pi-camera-stream-flask
ExecStart=/home/pi/pi-camera-stream-flask/venv/bin/python ./agent.py


[Install]
WantedBy=multi-user.target